*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    margin: auto;
    width: 90%;
    border: 1px solid #ff0000;
    min-height: 500px;
    padding: 10px;
}
.microsft-container{
    width: 100%;
    mi
}